
<!-- include header -->
<%- include('includes/_header') %>
<!-- /include header -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
 
  <link rel="stylesheet" href="css/bootstrap.min.css">
		
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/style.css">

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <% if (error.length>0){ %>
            <div class="alert alert-danger"><%= error %></div>
            <% } %>
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update class</h2>
            <span class="text-light">Use the below form to Update a class</span>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" action="/updateClass/<%=data._id%>" >
    <div class="new_user">
         <div class="form-group">
            <label for="standard" class="text-light">Standard</label>
            <input type="hidden" name="id" value="<%= data._id %>">
            <input type="text" name="standard" value="<%= data.standard %>" placeholder="Standard">
        </div>
        <div class="form-group">
            <label for="division" class="text-light">Division </label>
            <input type="text" name="division" value="<%= data.division %>" placeholder="Division" >
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('includes/_footer') %>
<!-- /include footer -->
